div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#div1{
    /* static: means now any changes made would not be shown , it would remain static even if u do [top:10px] no effect would be happen to the box1 */
    position: static; 
}

#div2{
    /* relative means now any changes made would be shown */
    position: relative;
    top: 20px;
}

#div3{
    /* absolute position means that it would change according to its closest ancestor like for this the ancestor is the body */
    position: absolute;
    left: 30px;
}

#div4{
    /* The fixed position means the changes would be made according to the browser */
    position: fixed;
    top: 0;
}
    
#div5{
    /* sticky : in this once it reach its place it would stick like for eg in down once it reach the top according to its position it would stick */
    position: sticky;
    top:0;
}
