*{
    margin: 0;
    padding:0;
    color: white;
}

#navbar{
    height: 50px;
    background-color: black;
}
button{
    background-color: #f08804;


}
#logo{
color:#f08804 ;
font-size: 25px;
}

a{
    margin-right: 190px;
    text-decoration: none;
}