*{
    color: white;
}

#navbar{
    height: 60px;
    background-color: black;
}

button{
    background-color: #f08804;
}

#logo{
    color:#f08804;
    font-size: 25px;
}

a{
    text-decoration: none;
    margin-right: 170px;
}

#content{
    height: 560px;
}


.contentbox{
    height: 100px;
    width: 100px;
    margin: 100px;
    padding: 50px;
    color: black;
    border: 2px solid black;
    display: inline-block;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}


